@font-face {
  font-family: "Caveat";
  src: url("../assets/caveat-font.woff");
}

@font-face {
  font-family: "ShantellReg";
  src: url("../assets/ShantellSans-Regular.woff");
}

@font-face {
  font-family: "ShantellBold";
  src: url("../assets/ShantellSans-Bold.woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#content {
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  height: 100%;
}

#header {
  grid-area: header;
}

#body {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

/* --------- HEADER --------- */

#headerTitle {
  font-family: "Caveat";
  font-size: 3rem;
  text-shadow: 1px 1px #adadad;
}

#headerLogo {
  width: 4%;
}

#headerElements {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 1rem;
  background-color: #ffe8e8;
  border-bottom: 2px solid #adadad;
}

/* --------- BODY --------- */

#allProjectsPage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu content";
  height: 100%;
  background-color: #fffefc;
  background-size: 300px;
  background-image: url("../assets/dot-background-opacity.png");
}

#menu {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  filter: drop-shadow(17px 10px 3px rgba(248, 122, 172, 0.5));
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
}

#currentTasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 55px 25px 15px;
}

img {
  width: 20px;
}

#allTasks,
#todayTasks,
#thisWeekTasks {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "ShantellReg";
  gap: 10px;
}

#horizontalRuler {
  border-top: 5px dotted rgb(248, 122, 172);
  border-bottom: none;
  margin-left: 5px;
  margin-right: 5px;
}

#allProjects {
  font-family: "ShantellReg";
  font-size: 1.5rem;
  padding: 15px;
}

#addProject {
  padding: 0;
  border: none;
  background: none;
  margin-left: 45px;
  font-size: 1.5rem;
}

#addProject:hover {
  background-color: #ffe8e8;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 35px;
}

#allProjectsList {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto;
  padding-top: 5px;
  padding-left: 20px;
}

li.userProjectLi {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "ShantellReg";
  padding: 5px;
  list-style-type: disc;
}

li.userProjectLi::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(248, 122, 172);
  margin-right: 8px;
  /* content: "";
  display: inline-block;
  list-style-type: circle; */
  /* content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../assets/unchecked.png");
  object-fit: scale-down;
  background-size: cover;
  background-repeat: no-repeat; */
}

.menuProjectName {
  padding-left: 10px;
}

#mainContent {
  grid-area: content;
  display: flex;
  /* background-color: #FFFEFC; */
}

/* --------- MODAL --------- */

#modalDiv {
  margin-top: 25px;
  margin-left: 50px;
}

#myModal {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title close"
    "body body";
  border-radius: 25px;
  /* border: 1px solid black; */
  border: 15px solid rgba(248, 122, 172, 0.5);
  padding: 0px 10px 10px 5px;
  overflow: auto;
  background-color: white;
}

ul.pop_up > li {
  list-style-type: none;
}

.close {
  grid-area: close;
  float: right;
  color: black;
  font-size: 2rem;
  align-self: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  grid-area: title;
  font-size: 2.5rem;
  font-family: "ShantellReg";
  text-shadow: 1px 1px 1px black;
  color: #d8bfd8;
}

.modal_content {
  grid-area: body;
  padding-top: 10px;
}

label {
  display: inline-block;
  width: 150px;
  font-family: "ShantellReg";
  font-size: 1.2rem;
}

input[type="text"],
textarea,
input[type="date"] {
  max-width: 400px;
  min-width: 200px;
  padding: 1px 2px;
  font-size: 1.2rem;
  font-family: "ShantellReg";
  /* font-family: Arial, Helvetica, sans-serif; */
}

#submitBtn {
  margin-top: 10px;
  border-radius: 12px;
  padding: 10px 160px;
  font-size: 1rem;
  background-color: #d8bfd8;
  font-weight: bold;
  border: 1px solid #adadad;
}

#submitBtn:active {
  background-color: #d8bfd8;
  box-shadow: 0 5px #adadad;
  transform: translateY(5px);
  transition-duration: 0.4s;
}

.unchecked {
  background-image: url(../assets/unchecked.png);
  height: 60px;
  width: 60px;
}

.checked {
  background-image: url(../assets//logo.png);
  height: 60px;
  width: 60px;
}

/* --------- FOOTER --------- */
