@font-face {
  font-family: "Caveat";
  src: url("../assets/caveat-font.woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#content {
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  height: 100%;
}

#header {
  grid-area: header;
}

#body {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

/* --------- HEADER --------- */

#title {
  font-family: "Caveat";
  font-size: 3rem;
  text-shadow: 1px 1px #adadad;
}

#logo {
  width: 4%;
}

#headerElements {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 1rem;
  background-color: #ffe8e8;
  border-bottom: 1px solid #adadad;
}

/* --------- BODY --------- */

#allProjectsPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu content";
}

#menu {
  grid-area: menu;
  background-color: #bd8b9c;
  width: 25%;
}

#mainContent {
  grid-area: content;
  background-color: black;
  width: 75%;
}
